---
# defaults file for freeipa
freeipa_domain_name: "{{ ansible_domain }}"
freeipa_realm_name: "{{ freeipa_domain_name | upper }}"
freeipa_dm_password: "RedHat1!"
freeipa_admin_password: "RedHat1!"
freeipa_setup_ntp: true
freeipa_idstart: '61000'
freeipa_idmax: '200000'
freeipa_setup_dns: true
freeipa_dns_zone_manager: "root@{{ freeipa_domain_name }}"
freeipa_time_source: "clock.redhat.com"
freeipa_packages:
  - rng-tools
  - bind-utils
  - openssh-clients
  - chrony
  - ipa-server
freeipa_dns_packages:
  - bind
  - bind-dyndb-ldap
  - ipa-server-dns
  - bind-utils
freeipa_firewalld_services:
  - https
  - ldaps
  - kerberos
  - kpasswd
  - ntp
  - freeipa-ldaps
  - freeipa-ldap
freeipa_force_uninstall: false
