[Unit]
Description=Red Hat Single Sign On Server
After=network.target

[Service]
Type=idle
User=root
Group=root
ExecStart= /opt/rh/rh-sso7/root/usr/share/keycloak/bin/standalone.sh -b {{ rhsso_bind_ip | default('0.0.0.0') }}
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
